<div id="mc_embed_signup">
    <form action="https://zone.us9.list-manage.com/subscribe/post?u=6793e214d8d57383b72097216&amp;id=62f6a552b0&amp;f_id=001135e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
        <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" placeholder="your@email.com"><input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
        <div hidden=""><input type="hidden" name="tags" value="15333795"></div>
        <div id="mce-responses" class="clear foot">
            <div class="response" id="mce-error-response" style="display: none;"></div>
            <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>
        <div aria-hidden="true" style="position: absolute; left: -5000px;">
            <input type="text" name="b_6793e214d8d57383b72097216_62f6a552b0" tabindex="-1" value="">
        </div>
    </form>
    <div id="mc_embed_note">Subscribe for News notifications<br/>and occasional project information</div>
</div>
