---
title: X65 Emulator
---

<h1><img src="/emu/emu.gif" style="float: left;height:1em;margin-right:0.15em;">X65 Emu</h1>

<blockquote style="font-size:75%">
    NOTICE: This is a preview of the X65 Emulator that is still
    a work-in-progress. Many things are not implemented (yet), some things
    (like the CPU) are stubbed. Anyway… Have fun toying around. 😄
</blockquote>

<span>
    Download:
    <a href="https://github.com/X65/emu/releases/tag/latest" target="_blank">Emu</a>,
    <a href="https://github.com/X65/emu/tree/main/roms" target="_blank">ROMs</a>
</span>

<nav class="emu-nav">{% for item in site.data.emu %}
<div>
    <a href="emu.html?file=roms/{{ item.xex }}" target="emuFrame" class="screenshot"><img src="roms/{{ item.img }}">{{ item.title }}{% if item.src %}
    <a href="{{ item.src }}" target="_blank" class="source"></a>{% endif %}</a>
</div>{% endfor %}
</nav>

<hr>

<iframe src="emu.html?file=roms/MODE2_hello-glyphs.xex" name="emuFrame"  id="emuFrame"></iframe>

<script>
    var emuFrame = document.querySelector('#emuFrame');
    emuFrame.style.width = '100%';
    emuFrame.style.height = (emuFrame.clientWidth / 1.6) + 'px';
</script>
