---
title: X65 Emulator
image: /emu/screenshot.png
description: Emu is a browser-based emulator for the X65 microcomputer, showcasing its graphics modes, sound capabilities, and tech demos. Built using a modular chip-emulation framework, Emu replicates the X65's hardware, including the WDC 65C816 CPU and Yamaha SD-1 sound chip. It features demos like raster bars, sprites, and OPL3 music playback. Explore Emu at https://x65.zone/emu/.
---

<h1><img src="/emu/emu.gif" style="float: left;height:1em;margin-right:0.15em;">X65 Emu</h1>

<span>
    Download:
    <a href="https://github.com/X65/emu/releases/tag/latest" target="_blank">Emu</a>,
    <a href="https://github.com/X65/emu/tree/main/roms" target="_blank">ROMs</a>,
    <a href="https://marketplace.visualstudio.com/items?itemName=X65-Project.cc65-dbg" target="_blank">cc65-dbg</a>
</span>

<nav class="emu-nav">{% for item in site.data.emu %}
<div>
    <a href="emu.html?file=roms/{{ item.xex }}" target="Emu" class="screenshot"><img src="roms/{{ item.img }}">{{ item.title }}{% if item.src %}
    <a href="{{ item.src }}" target="_blank" class="source"></a>{% endif %}</a>
</div>{% endfor %}
</nav>

<hr>

<iframe src="emu.html?file=roms/SOTB.xex" name="Emu" id="Emu"></iframe>

<script>
    var Emu = document.querySelector('#Emu');
    Emu.style.width = '100%';
    Emu.style.height = (Emu.clientWidth / 1.6 + 24) + 'px';

    var orgTitle = document.title;

    var params = new URL(document.location.toString()).searchParams;
    var ROM = params.get('rom');
    if (ROM && !ROM.endsWith('.xex')) ROM += '.xex';
    if (ROM) {
        Emu.setAttribute('src', 'emu.html?file=roms/' + ROM);
        document.title = ROM + ' - ' + orgTitle;
    }

    for (var link of document.querySelectorAll('.emu-nav a')) {
        link.addEventListener('click', function(e) {
            ROM = this.getAttribute('href').replace('emu.html?file=roms/', '');
            window.history.pushState(null, '', '/emu/?rom=' + ROM + '#Emu');
            document.title = ROM + ' - ' + orgTitle;
        });
    }

</script>
