<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/assets/style.css">
<link rel="shortcut icon" type="image/png" href="https://avatars0.githubusercontent.com/u/32369794">

<nav>
  <a href="/">Home</a>
  <a href="https://github.com/X65">Source</a>
  <!-- <a href="/news/">News</a> -->
  <a href="https://discord.gg/TuTe3kymgy"><img src="https://img.shields.io/discord/1135290734606557326?logo=discord&style=for-the-badge&logoColor=9f91e9&labelColor=606060&color=72c06f" alt="Discord Chat"></a>
  <a href="https://github.com/orgs/X65/discussions"><img src="https://img.shields.io/github/discussions/X65/X65?logo=github&style=for-the-badge&labelColor=606060&color=72c06f" alt="GitHub Discussions"></a>
</nav>
{{ content }}
