---
layout: default
---
<article itemscope itemtype="http://schema.org/Article">
<hgroup>
<h1 itemprop="name" title="{{ page.title }}">{{ page.title }}</h1>
<p><time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time> - <span itemprop="author">{{ page.author }}</span></p>
</hgroup>
<div class="page-navigation">
{% if page.next.url %}<a class="next" href="{{page.next.url}}">{{page.next.title}}</a>{% endif %}{% if page.next.url and page.previous.url %}:{% endif %}{% if page.previous.url %}<a class="prev" href="{{page.previous.url}}">{{page.previous.title}}</a>
{% endif %}</div>
{{ content }}
</article>
{% include share-buttons.html %}
